/* Stolen from Nicky Case! <3 */


* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	width: 100%;
	/*height: 100vh;
	display: grid;
	place-items: center;*/
	height: 100%;
	overflow: hidden;
	margin:0;
	background: #111;
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.3em;
}


#game_container{

	/*
	position: relative;
	display: inline-block;
	width: 1000px;
	height: 600px;
	background: #000;
	overflow: hidden;*/

	position: absolute;
	top:0; left:0; bottom:0; right:0;
	margin: auto;

	width: 1000px;
	height: 600px;
	background: #000;

	overflow: hidden;
}


/******************************************************************************************************

CORNER TEXT

******************************************************************************************************/

.corner-text{
	width: 220px;
	color: #eee;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3em;
	position: absolute;
}
.corner-text a{
	color: #eee;
}
.corner-text a:hover{
	color: #fff;
}
#topleft{
	top:10px;
	left:10px;
	text-align: left;
}
#bottomleft{
	bottom:10px;
	left:10px;
	text-align: left;
}
#topright{
	top:10px;
	right:10px;
	text-align: right;
}
#bottomright{
	bottom:10px;
	right:10px;
	text-align: right;
}
.no_deco{
	text-decoration: none;
}
#sharing_title, #sharing_desc{
	display: none;
}
#share{
	overflow: hidden;
	text-align: right;
    padding: 5px 0;
}
#share div{
	display: inline-block;
	overflow: hidden;
	width:30px; height:30px;
	background: url(../sprites/about/share.png);
    background-size: 300%;
    position: relative;
    cursor: pointer;
    opacity: 0.7;
}
#share div:hover{
	opacity: 1;
	top:-2px;
}
#share #share_fb{
	background-position: 0px;
}
#share #share_tw{
	background-position: -30px;
}
#share #share_em{
	background-position: -60px;
}
@media screen and (max-width: 800px) {
	.corner-text {
		display: none;
	}
}

.hide-if-cuss-free{
	display: none;
}