<!DOCTYPE html>
<html>
<head>
    <title>Graffiti Wall</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div id="game_container">
    <canvas id="wall_canvas" width="1000" height="600"></canvas>

    <script src="{{url_for('static', filename='socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='pixi.js')}}"></script>
    <script type="text/javascript">
        let type = "WebGL"
        if(!PIXI.utils.isWebGLSupported()){
            type = "canvas"
        }
        PIXI.utils.sayHello(type)
    </script>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</div>

</body>
</html>
